{{#*inline "content"}}
<p><b>this is my blog & personal website</b></p>
<p>it's written in rust using <a href="https://rocket.rs/">rocket</a> and hosted on <a href="https://cloud.google.com">google cloud platform</a>. you can read the code on <a href="https://github.com/matthew-jack/mattjack.dev">github</a>.</p>
<p><b>license</b></p>
<p>rocket is licensed under the <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU GPL</a>. my own work is dedicated to the public domain via the <a href="https://unlicense.org">unlicense</a>.
<p><b>special thanks to</b></p>
<p>the spectacularly helpful rust community and the <a href="https://doc.rust-lang.org/book/">rust book</a>.</p>
<p><b>you can contact me by emailing my name at this domain. <a href="/public_key">this</a> is my public pgp key.</b></p>
{{/inline}}
{{~> layout}}
