<!DOCTYPE html>
<html lang="en">
  <head>
    <title>matt wants to work</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <style>
      body {
        font-size: 0.95rem;
        font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
      }
    </style>
  <center><h5><a href="/">home</a> | <a href="/about">about</a></h5></center>
    <hr>
    {{~> content}}
    <hr>
    <center><h5>matt@{this domain} <b>/</b> (ɔ) 2019 no rights reserved</h5></center>
  </body>
</html>
